@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Add the glowing effect for text */
.glowing-text {
  text-shadow: 
    0 0 3px #fff,   /* Small white glow */
    0 0 5px #fff,   /* Slightly larger white glow */
    0 0 7px #00bfff; /* Subtle blue glow */
}


/* Meteor effect styles */
.meteor {
  position: absolute;
  top: -10vh;
  background-color: #f39c12;
  border-radius: 50%;
  opacity: 0.8;
  animation: fallingMeteor linear infinite;
  width: 5vw;
  height: 5vw;
}

@keyframes fallingMeteor {
  0% {
    top: -10vh;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}
